

/* ==========================================================================
   Chat's custom styles
   ========================================================================== */

/* ========= Login block ========== */

#login {
    margin: 100px auto;
}

body {
  /* Margin bottom by footer height */
  margin-top: 50px;
}

.navbar-inverse {
    background-color: #2969A8;
}

.navbar-inverse .navbar-brand {
    color: white;
}