{% extends 'index.html' %}
{% load static i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <h4 class="text-center">CHAT ROOM</h4>
        <br /><br />
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div class="panel-body">
                    <ul id="messages" class="media-list"  style="height: 200px; overflow: auto"></ul>
                </div>
                <div class="panel-footer">
                    <form id="sender" class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">SEND</button>
                        </span>
                    </for>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                   ONLINE USER
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                        <li id="users" class="media">
                            <div class="media-body">{{ request.user }}</div>
                       </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>

{% block script  %}
 <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
 <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% endblock %}