{% extends 'index.html' %}
{% load staticfiles i18n %}

{% block content %}

<div class="container">
    <div class="row">
        <h4 class="text-center">CHAT ROOM</h4>
        <br /><br />
        <div class="col-md-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    RECENT CHAT HISTORY
                </div>
                <div class="panel-body">
                    <ul id="messages" class="media-list"  style="height: 400px; overflow: auto">
                        {% for message in messages %}
                          <li class="media">
                              <div class="media-body">
                                  {{ message.message }}<br/>
                                  <small class="text-muted">
                                     {{ message.user.username }} | {{ message.timestamp }}
                                  </small><hr/>
                              </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <form id="sender" class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Message" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="submit">SEND</button>
                        </span>
                    </for>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                   ONLINE USER
                </div>
                <div class="panel-body">
                    <ul id="users" class="media-list" style="height: 400px; overflow: auto">
                        {% for user in users.all %}
                        <li class="media"
                                {% if user == request.user %}style="font-weight: bold;"{% endif %}
                                id="{{ user.id }}">{{ user }}
                       </li>
                       {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>

{% block script  %}
 <script src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
 <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% endblock %}